@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

@* <h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <img src="~/assets/img/logo.png" alt="">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    
                </div>
            </form>
        </section>
    </div>
</div> *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link Fontawesome -->
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.min.css">

    <!-- Link Font Text -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap" rel="stylesheet">

    <!-- Link Slick Slider -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <!-- Link Css -->
    <link rel="stylesheet" href="/assets/css/app.css">

    <!-- Link JS -->
    <script src="/assets/script.js" defer></script>

    <!-- Link Custom FromBooking -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>



    <title>Sign-In</title>
</head>


<div class="sign-in">
    <div class="from-sign-in">
        <h1 class="text-heading-login text-center text-heading2 text-secon-color">Sign in</h1>
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div>
                        <h3 class="text-common-sub text-thirt-color">Account</h3>
                            <input asp-for="Input.Email" class="input-sign-in" type="text" autocomplete="username" aria-required="true" placeholder="name@example.com">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div>
                        <h3 class="text-common-sub text-thirt-color">Password</h3>
                            <input asp-for="Input.Password" class="input-sign-in" autocomplete="current-password" aria-required="true" placeholder="password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    
                    <div class="box-get-pass">

                        <div class="box-remempass">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label class="text-caption text-secon-color" for="checkbox-remem">Remember password</h3>
                        </div>

                        
                    </div>
                    <div class="box-icon-sign-in">
                        <img src="~/assets/icon/Facebook.png" alt="">
                        <img src="~/assets/icon/Google.png" alt="">
                        <img src="~/assets/icon/Twitter.png" alt="">
                    </div>
                    <button id="login-submit" type="submit" class="bnt-login-sign-in text-body2 text-main-color">Log in</button>
                    <h3 class="text-center text-common-lab">
                    <a id="forgot-password" asp-page="./ForgotPassword" class="text-thirt-color text-underline">Forgot password?</a>
                    @* <a href="change-pass.html" class="text-thirt-color">Do not have any account?</a> *@</h3>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn-icon btn-sign-up-sign-in text-body2 text-secon-color">Sign up</a>
                </form>
            </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
