@{
    Layout = "_customerLayout";
}




    <!-------------------------- HEADER -------------------------------->

    
    <!-------------------------- HEADER -------------------------------->

    <!-------------------------- CONTAINER -------------------------------->
    <div class="container-about">
        <div class="content-img-container-about">
            <div class="box-img-container-about">
                <img class="img-container-about" src="~/assets/img/about/Rectangle 16.png" alt="">
            </div>
            <div class="box-content-container-about">
                <h1 class="text-heading2">Who are we ?</h1>
                <p class="text-body1">Hello everyone,<br>
                    We are Dalat Booking Website, right here you booking a place to stay online fast and convenient. In this page, you can booking a place to live easy and fast. You can also order airplane ticket from others airways around the world.  Our purpose is that everyone who loves Dalat and want to travel our city convenient and don’t waste time to do many steps for booking a place to live and order plane ticket. You just only access to our website, booking a place, order a ticket and done. Go to the plane and travel to our beautiful city.</p>
            </div>
        </div>

        <div class="content-img-container-about">

            <div class="box-content-container-about">
                <h1 class="text-heading2">How about our city?</h1>
                <p class="text-body1">Dalat is a beautiful city in middle of Vietnam. The weather is cool all year, the people are friendly and the nature is beautiful. In this city, you can wake up early, eat breakfast, go to the coffee shop and enjoy a cup of coffee in the morning is wonderful. You won’t worry about your safety here because the security is good. This city is really safe, it doesn’t have thief, rob or terrorist. </p>
            </div>

            <div class="box-img-container-about">
                <img class="img-container-about" src="~/assets/img/about/Rectangle 16-1.png" alt="">
            </div>
        </div>

        <div class="content-img-container-about">
            <div class="box-img-container-about">
                <img class="img-container-about" src="~/assets/img/about/Rectangle 16-2.png" alt="">
            </div>
            <div class="box-content-container-about">
                <h1 class="text-heading2">Why you should choose us?</h1>
                <p class="text-body1">Dalat Booking Website is the best choice for the tourists who want to travel, who loves this city and your heart belong to Dalat. When you want to travel, you only want to this city. Why we say these? Because Dalat is the viral city in Vietnam. Good coffee, delicious food, friendly people, beautiful nature so that why we make this website for those people we have spoken before. It is convenient, fast, security, easy pay.</p>
            </div>
        </div>

        <div class="container-leader-about">
            <h1 class="text-heading1">Leaders</h1>
            <div class="cards-leader-about">
                <div class="card-leader-about">
                    <div class="box-img-leader-about">
                        <img class="img-leader-about" src="~/assets/img/about/about-founder/Ellipse 2.png" alt="">
                    </div>
                    <h1 class="text-heading3">Võ Minh Hào</h1>
                    <h2 class="text-heading4">CEO</h2>
                    <h3 class="text-body1">“Never give up on your dream”</h3>
                </div>

                <div class="card-leader-about">
                    <div class="box-img-leader-about">
                        <img class="img-leader-about" src="~/assets/img/about/about-founder/Ellipse 2-1.png" alt="">
                    </div>
                    <h1 class="text-heading3">Lê Nhật Minh</h1>
                    <h2 class="text-heading4">Creative Director</h2>
                    <h3 class="text-body1">“Live a life you never regret”</h3>
                </div>

                <div class="card-leader-about">
                    <div class="box-img-leader-about">
                        <img class="img-leader-about" src="~/assets/img/about/about-founder/Ellipse 2-2.png" alt="">
                    </div>
                    <h1 class="text-heading3">Đỗ Thảo Nguyên</h1>
                    <h2 class="text-heading4">Marketing Director</h2>
                    <h3 class="text-body1">“Just different, just believe”</h3>
                </div>

                <div class="card-leader-about">
                    <div class="box-img-leader-about">
                        <img class="img-leader-about" src="~/assets/img/about/about-founder/Ellipse 2-3.png" alt="">
                    </div>
                    <h1 class="text-heading3">Nguyễn Hoàng Đức</h1>
                    <h2 class="text-heading4">IT Director</h2>
                    <h3 class="text-body1">“Your future created by you”</h3>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------- CONTAINER -------------------------------->





   <!-------------------------- Footer-------------------------------->

<!-------------------------- Footer-------------------------------->



