@{
    Layout = "_customerLayout";
}




    <!-------------------------- CONTAINER -------------------------------->

    <div class="container-booking">

        <div class="search-booking">

            <div class="input-filter-search-booking">
                <div class="box-input-search-booking">                   
                    <img class="icon-search-booking" src="~/assets/icon/Search.png" alt="">
                    <input id="find" class="input-search-booking " type="text" placeholder="Hotel, resort, homestay, ..." onkeyup="search()">
                </div>
                <img class="icon-filter-search-booking" src="~/assets/icon/Filter.png" alt="">
            </div>

            <div class="categories-search-booking">

                <div class="card-categories-search-booking">
                    <img class="icon-card-categories-search-booking" src="~/assets/icon/Hotel.png" alt="">
                    <h1 class="text-common-lab">Hotel</h1>
                </div>

                <div class="card-categories-search-booking">

                    <img class="icon-card-categories-search-booking" src="~/assets/icon/Homestay.png" alt="">
                    <h1 class="text-common-lab">Homestay</h1>

                </div><div class="card-categories-search-booking">
                    <img class="icon-card-categories-search-booking" src="~/assets/icon/Guest House.png" alt="">
                    <h1 class="text-common-lab">Guest House</h1>

                </div><div class="card-categories-search-booking">
                    <img class="icon-card-categories-search-booking" src="~/assets/icon/Resort.png" alt="">
                    <h1 class="text-common-lab">Resort</h1>

                </div><div class="card-categories-search-booking">
                    <img class="icon-card-categories-search-booking" src="~/assets/icon/House.png" alt="">
                    <h1 class="text-common-lab">Villa</h1>
                </div>

            </div>
        </div>

        <div class="content-container-booking">
            <h1 class="text-body2">Hotel</h1>
            <div class="cards-content-container-booking">
                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-1.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Bessie Cooper</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-2.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Wade Warren</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-3.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Gillette</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-4.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Starbucks</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-5.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Johnson's General Stores</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-6.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Giant</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-7.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">IBM</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-8.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Mitsubishi</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-17.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Bank of America</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-19.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Specialty Restaurant Group</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-9.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Tam's Stationers</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>

                <a asp-controller="Home" asp-action="Details"><div class="card-content-booking">
                    <div class="top-card-content-booking">
                        <img class="img-card-content-booking" src="~/assets/img/booking/Rectangle 25-10.png" alt="">
                    </div>
                    <div class="bot-card-content-booking">
                        <h4 class="text-caption">Hotel</h4>
                        <h1 class="text-heading4">Bessie Cooper</h1>
                        <p class="text-common-sub">3517 W. Gray St. Utica, Pennsylvania 57867</p>
                        <h3 class="text-body2">319.000đ / night</h3>
                        <div class="box-rate-card-booking">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                            <img src="~/assets/icon/StarFilled.png" alt="">
                        </div>
                    </div>
                </div></a>
            </div>
        </div>
    </div>

    <!-------------------------- CONTAINER -------------------------------->



      <!-------------------------- Footer-------------------------------->


