@{
    Layout = "_customerLayout";
}




    <div class="container-thanks">

        <div class="box-container-thanks">

            <h1 class="text-heading1 ">THANK YOU FOR YOUR ORDER</h1>
            <p class="text-common-sub text-thirt-color margin-top-20">If you have any problem for using our services like
                cancellation, can’t contact to the host, payment does not
                work.... please contact to</p>
            <div class="box-icon-thanks">
                <img src="~/assets/icon/Phone.png" alt="">
                <img src="~/assets/icon/Facebook.png" alt="">
                <img src="~/assets/icon/Twitter.png" alt="">
            </div>
            <p class="text-common-sub text-thirt-color">Thank you for choosing our product booking service. We
                appreciate your loyalty and look forward to serving
                you again soon.
                We’ll send you a check to your email. Pleased to serve you !</p>
            <a href="index.html"><button class="margin-top-40 btn-icon btn-back-thanks text-main-color text-body2"><img
                        src="assets/icon/Back-white.png" alt="">Back to homepage</button></a>
        </div>

    </div>