@model RoomType
@{
ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Room Type</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Id" />
        <div class="mb-3 row p-1">
            <label asp-for="Type" class="control-label p-0"></label>
            <input asp-for="Type" class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="mb-3 row pt-1 pb-2">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="row mt-4">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="RoomType" asp-action="Index" class="btn btn-secondary  form-control">
                    Back to List
                </a>
            </div>
        </div>


    </div>
</form>